@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}

<section class="py-10">
    <div class="flex flex-col md:flex-row md:items-center">
        <div class="md:w-2/5 md:pr-4">
            <img src="@(Model.Value<IPublishedContent>("image").Url)" alt="@Model.Name" class="w-full mb-6 md:mb-0" />
        </div>
        <div class="md:w-3/5 md:pl-4">
            <h1 class="font-zilla text-4xl lg:text-5xl leading-none text-green-400">@Model.Name</h1>
            <p class="lg:text-lg leading-relaxed text-gray-700 mt-3">@(Html.ReplaceLineBreaksForHtml(Model.Value<string>("shortDescription", defaultValue: "")))</p>
            @Html.Partial("ProductAddToCartForm")
            <p class="flex mt-6">
                <a href="#" class="text-gray-800 text-lg flex items-center justify-center w-6 h-6 hover:text-green-400"><i class="fa fa-facebook"></i></a>
                <a href="#" class="text-gray-800 text-lg flex items-center justify-center w-6 h-6 hover:text-green-400 ml-1"><i class="fa fa-instagram"></i></a>
                <a href="#" class="text-gray-800 text-lg flex items-center justify-center w-6 h-6 hover:text-green-400 ml-1"><i class="fa fa-twitter"></i></a>
            </p>
        </div>
    </div>
    <div class="mt-10 pt-10 border-t border-gray-300">
        <h2 class="font-zilla text-3xl font-bold">Description</h2>
        <div class="mt-4 rte">
            @(Model.Value<IHtmlString>("longDescription"))
        </div>
    </div>
</section>

